name = "ctai-translation-pipeline"
main = "index.js"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "USERS_DB"
database_name = "ctai-users"
database_id = "64b01291-d9db-4827-9c66-a493adcf4221"

[[d1_databases]]
binding = "JAFAR_DB"
database_name = "ctai-jafar"
database_id = "e077c62e-353d-46fe-b6a5-82590113dc64"

[[r2_buckets]]
binding = "TRANSLATIONS_BUCKET"
bucket_name = "ctai-translations"

[[queues.consumers]]
queue = "ctai-translations"
max_batch_size = 1
max_retries = 3
dead_letter_queue = "ctai-translations-dlq"

[[queues.producers]]
binding = "TRANSLATION_QUEUE"
queue = "ctai-translations"
